<div id="main-wrapper">
		
    <app-header></app-header>
    <!-- End Navigation -->
    <div class="clearfix"></div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    
  
    <!-- ============================ Page Title End ================================== -->
    
    <!-- ============================ All Category Detail ================================== -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6" (click)="navigateToCategory('Développement Web')">
                    <div class="cates_crs_wrip">
                        <div class="crs_trios">
                            <div class="crs_cate_icon"><i class="fa fa-code"></i></div>
                        </div>
                        <div class="crs_capt_cat">
                            <h4>Development Web</h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                    <div class="cates_crs_wrip">
                        <div class="crs_trios">
                            <div class="crs_cate_icon"><i class="fa fa-window-restore"></i></div>
                            <div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
                        </div>
                        <div class="crs_capt_cat">
                            <h4>Web Designing</h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                    <div class="cates_crs_wrip">
                        <div class="crs_trios">
                            <div class="crs_cate_icon"><i class="fa fa-leaf"></i></div>
                            <div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
                        </div>
                        <div class="crs_capt_cat">
                            <h4>Developement Mobile</h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6" (click)="navigateToCategory('Développement logiciel')">
                    <div class="cates_crs_wrip">
                        <div class="crs_trios">
                            <div class="crs_cate_icon"><i class="fa fa-heartbeat"></i></div>
                            <div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
                        </div>
                        <div class="crs_capt_cat">
                            <h4>Developement Logiciel</h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                    <div class="cates_crs_wrip">
                        <div class="crs_trios">
                            <div class="crs_cate_icon"><i class="fa fa-landmark"></i></div>
                            <div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
                        </div>
                        <div class="crs_capt_cat">
                            <h4>Marketing</h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                    <div class="cates_crs_wrip">
                        <div class="crs_trios">
                            <div class="crs_cate_icon"><i class="fa fa-photo-video"></i></div>
                            <div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
                        </div>
                        <div class="crs_capt_cat">
                            <h4>Photography</h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                    <div class="cates_crs_wrip">
                        <div class="crs_trios">
                            <div class="crs_cate_icon"><i class="fa fa-stamp"></i></div>
                            <div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
                        </div>
                        <div class="crs_capt_cat">
                            <h4>Finance & Accounting</h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                    <div class="cates_crs_wrip">
                        <div class="crs_trios">
                            <div class="crs_cate_icon"><i class="fa fa-school"></i></div>
                            <div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
                        </div>
                        <div class="crs_capt_cat">
                            <h4>Inteligence Artificiel</h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos.</p>
                        </div>
                    </div>
                </div>
            
            </div>
            
        
            
        </div>
    </section>

    <app-footer></app-footer>


</div>