<footer class="dark-footer skin-dark-footer style-2">
			
				
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 text-center">
                    <p class="mb-0">© 2023 medrasti </p>
                </div>
            </div>
        </div>
    </div>
</footer>