<div class="header header-light head-shadow">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand" href="#">
                    <img src="assets/img/logo.png" class="logo" alt="" />
                </a>
             
            </div>
            <div class="nav-menus-wrapper">
                <ul class="nav-menu">
                
                    <li ><a routerLink="/home">Home</a>
                    
                        <li ><a routerLink="/courses">Courses</a>

                            <li ><a routerLink="/categories">Categories</a>

                                <li ><a routerLink="" (click)="SignOut()">SignOut</a>
                
                    
                </ul>
                
             
            </div>
        </nav>
    </div>
</div>