<!-- success-page.component.html -->
<div class="container success-page">
    <img src="assets/img/succes.jpg" alt="Success" class="success-image">
    <h1>Success!</h1>
    <p>Your operation has been completed successfully.</p>
    <a routerLink="/">Return to Home</a>
  </div>
  
