

     
        <div id="main-wrapper">
		
  
		
			<div class="clearfix"></div>
		
			<app-header></app-header>
			
			<div class="hero_banner image-cover image_bottom h2_bg">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="simple-search-wrap text-left">
								<div class="hero_search-2">
									<h1 class="banner_title mb-4">Trouvez les cours en ligne les plus passionnants</h1>
									
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="side_block">
								<img src="assets/img/side-1.png" class="img-fluid" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
			<!-- ============================ Our Awards Start ================================== -->
			
			<!-- ============================ Our Awards End ================================== -->
			
			<!-- ============================ Latest cources Start ================================== -->
			<section>
				<div class="container">
				  <!-- Add your existing code here -->
			  
				  <div class="row justify-content-center">
					<div class="col-lg-7 col-md-10 text-center">
					  <div class="sec-heading center mb-4">
						<h2>Dernières <span class="theme-cl">Cours</span> Ajoutés</h2>
					  </div>
					</div>
				  </div>
			  
				  <div class="container">
					<div class="row justify-content-center">
					  <div *ngFor="let course of latestCourses" class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="crs_grid shadow_none brd">
						  <div class="crs_grid_thumb">
							<a [routerLink]="'/course-detail/' + course._id" class="crs_detail_link">
							  <img [src]="course.image" class="img-fluid rounded" alt="" />
			  
							</a>
						  </div>
						  <div class="crs_grid_caption">
							<div class="crs_flex">
							  <div class="crs_fl_first">
								<div class="crs_cates cl_3"><span>{{course.Categorie}}</span></div>
							  </div>
							  <div class="crs_fl_last">
								<div class="crs_price">
								  <h2><span class="theme-cl">{{ course.price }}</span><span class="currency">MRU</span></h2>
								</div>
							  </div>
							</div>
							<div class="crs_title">
							  <h4>
								<a [routerLink]="'/course-detail/' + course._id" class="crs_title_link">{{ course.Nom }}</a>
							  </h4>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
			  
				  <!-- Add your existing code here -->
				</div>
			  </section>
			  
			<!-- ============================ Latest cources End ================================== -->
			
			<!-- ============================ Our Instructor Start ================================== -->
		
			<!-- ============================ Our Instructor End ================================== -->
			
			<!-- ============================ Categories Start ================================== -->
			<section class="min gray">
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h2>Select Your <span class="theme-cl">Categories</span></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
					</div>
					
					<div class="row justify-content-center">
						
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="cates_crs_wrip">
								<div class="crs_trios">
									<div class="crs_cate_icon"><i class="fa fa-code"></i></div>
									<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
								</div>
								<div class="crs_capt_cat">
									<h4>Development</h4>
									<p>At vero eos et accusamus et iusto odio dignissimos.</p>
								</div>
							</div>
						</div>
						
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="cates_crs_wrip">
								<div class="crs_trios">
									<div class="crs_cate_icon"><i class="fa fa-window-restore"></i></div>
									<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
								</div>
								<div class="crs_capt_cat">
									<h4>Web Designing</h4>
									<p>At vero eos et accusamus et iusto odio dignissimos.</p>
								</div>
							</div>
						</div>
						
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="cates_crs_wrip">
								<div class="crs_trios">
									<div class="crs_cate_icon"><i class="fa fa-leaf"></i></div>
									<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
								</div>
								<div class="crs_capt_cat">
									<h4>Lifestyle</h4>
									<p>At vero eos et accusamus et iusto odio dignissimos.</p>
								</div>
							</div>
						</div>
						
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="cates_crs_wrip">
								<div class="crs_trios">
									<div class="crs_cate_icon"><i class="fa fa-heartbeat"></i></div>
									<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
								</div>
								<div class="crs_capt_cat">
									<h4>Health & Fitness</h4>
									<p>At vero eos et accusamus et iusto odio dignissimos.</p>
								</div>
							</div>
						</div>
						
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="cates_crs_wrip">
								<div class="crs_trios">
									<div class="crs_cate_icon"><i class="fa fa-landmark"></i></div>
									<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
								</div>
								<div class="crs_capt_cat">
									<h4>Gov. Exams</h4>
									<p>At vero eos et accusamus et iusto odio dignissimos.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="cates_crs_wrip">
								<div class="crs_trios">
									<div class="crs_cate_icon"><i class="fa fa-photo-video"></i></div>
									<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
								</div>
								<div class="crs_capt_cat">
									<h4>Photography</h4>
									<p>At vero eos et accusamus et iusto odio dignissimos.</p>
								</div>
							</div>
						</div>
						
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="cates_crs_wrip">
								<div class="crs_trios">
									<div class="crs_cate_icon"><i class="fa fa-stamp"></i></div>
									<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
								</div>
								<div class="crs_capt_cat">
									<h4>Finance & Accounting</h4>
									<p>At vero eos et accusamus et iusto odio dignissimos.</p>
								</div>
							</div>
						</div>
						
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="cates_crs_wrip">
								<div class="crs_trios">
									<div class="crs_cate_icon"><i class="fa fa-school"></i></div>
									<div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
								</div>
								<div class="crs_capt_cat">
									<h4>Office Productivity</h4>
									<p>At vero eos et accusamus et iusto odio dignissimos.</p>
								</div>
							</div>
						</div>
					
					</div>
					
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ============================ Categories End ================================== -->
			
			<!-- ============================ Pricing Table ================================== -->
		
			<!-- ============================ Pricing Table End ================================== -->

			<!-- ============================ Students Reviews ================================== -->
		
			<!-- ============================ Students Reviews End ================================== -->
			
			<!-- ============================ Download App ================================== -->
	
			<!-- ============================ Download App ================================== -->
			
			<!-- ============================ Call To Action ================================== -->
	
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
			<app-footer></app-footer>
			
			

		</div>
		
	
