/* success-page.component.css */
.success-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
  }
  
  .success-image {
    max-width: 100px; /* Adjust based on your image size */
    margin-bottom: 20px;
  }
  
  .success-page h1 {
    color: #4CAF50;
    margin: 20px 0;
  }
  
  .success-page p {
    margin: 20px 0;
  }
  
  .success-page a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .success-page a:hover {
    background-color: #0056b3;
  }
  