<div id="main-wrapper">
		
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- Start Navigation -->

    <!-- End Navigation -->
    <div class="clearfix"></div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    
    <!-- ============================ Dashboard: Dashboard Start ================================== -->
    <section class="gray pt-4">
        <div class="container-fluid">
                                
            <div class="row">
            
                <div class="col-lg-3 col-md-3">
                    <div class="dashboard-navbar">
                        
                        <div class="d-user-avater">
                            <img src="assets/img/user-3.jpg" class="img-fluid avater" alt="">
                            <h4>{{nom}}</h4>
                         
                           
                        
                        </div>
                        
                        <div class="d-navigation">
                            <ul id="side-menu">
                                <li class="active"><a routerLink="/dashboard"><i class="fas fa-th"></i>Dashboard</a></li>
                                <li ><a routerLink="/mycourses"><i class="fas fa-th"></i>Liste des courses</a></li>
                                <li ><a routerLink="/addcourses"><i class="fas fa-th"></i>Ajouter un course</a></li>
                                <li ><a routerLink="/achatcourses"><i class="fas fa-th"></i>Les achats du courses</a></li>



                              
                                <li><a routerLink="/" (click)="SignOut()"><i class="fas fa-layer-group"></i>Logout</a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>


                              
                            </ul>
                        </div>
                        
                    </div>
                </div>	
                
                <div class="col-lg-9 col-md-9 col-sm-12">
                    
                 
                    <div class="row">
                
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="dashboard_stats_wrap">
                                <div class="rounded-circle p-4 p-sm-4 d-inline-flex align-items-center justify-content-center theme-bg mb-2"><div class="position-absolute text-white h5 mb-0"><i class="fas fa-book"></i></div></div>
                                <div class="dashboard_stats_wrap_content"><h4>{{statistique.nbOfCourses}}</h4> <span>Number of Cources</span></div>
                            </div>	
                        </div>
                        
                     
                        
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="dashboard_stats_wrap">
                                <div class="rounded-circle p-4 p-sm-4 d-inline-flex align-items-center justify-content-center bg-warning mb-2"><div class="position-absolute text-white h5 mb-0"><i class="fas fa-users"></i></div></div>
                                <div class="dashboard_stats_wrap_content"><h4>{{statistique.nbOfStudents}}</h4> <span>Number of Students</span></div>
                            </div>	
                        </div>
                        
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="dashboard_stats_wrap">
                                <div class="rounded-circle p-4 p-sm-4 d-inline-flex align-items-center justify-content-center bg-purple mb-2"><div class="position-absolute text-white h5 mb-0"><i class="fas fa-gem"></i></div></div>
                                <div class="dashboard_stats_wrap_content"><h4>{{statistique.nbOfPurchasedCrs}}</h4> <span>Number of Enrollment</span></div>
                            </div>	
                        </div>

                    </div>
                    <!-- /Row -->
                    
                    <!-- Row -->



                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <h5>Derniere 5  Cources</h5>										
                            </div>
                            <div class="table-responsive">
                                <table class="table dash_list">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Titre</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Description</th>
                                         
                                            <th scope="col">Price</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let course of mycourses; let i = index">
                                            <th scope="row">{{course._id}}</th>
                                            <td><h6>{{course.Nom}}</h6></td>
                                            <td><div class="dhs_tags">{{course.Categorie}}</div></td>
                                            <td><div class="smalls">{{course.Description}}</div></td>
                                            <td><span class="smalls">{{course.price}}</span></td>
                                          
                                        </tr>
                                      
                                   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                 
                    <!-- /Row -->
                    
                </div>
            
            </div>
            
        </div>
    </section>

    <!-- ============================ Call To Action End ================================== -->
    
    <!-- ============================ Footer Start ================================== -->
 <app-footer></app-footer>
    <!-- ============================ Footer End ================================== -->
    
   
    <!-- End Modal -->
    
    <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
    

</div>