<div id="main-wrapper">
		

 
    <div class="clearfix"></div>
 
    <section>
        <div class="container">
            <div class="row justify-content-center">
            
                <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
                    <form #loginForm="ngForm" (ngSubmit)="login()">
                        <div class="crs_log_wrap">
                            <div class="crs_log__thumb">
                                <img src="assets/img/banner-2.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="crs_log__caption">
                                <div class="rcs_log_123">
                                    <div class="rcs_ico"><i class="fas fa-lock"></i></div>
                                </div>
                                
                                <div class="rcs_log_124">
                                    <div class="Lpo09"><h4>Login Your Account</h4></div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" placeholder="email@gmail.com" [(ngModel)]="email"  name="email" />
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="*******" [(ngModel)]="password" name="password" />
                                    </div>
                                    
                                    <div class="form-group">
                                        <button type="button" class="btn full-width btn-md theme-bg text-white" (click)="login()">Login</button>
                                    </div>
                                    <div *ngIf="isLoginFailed" class="alert alert-danger">
                                        {{ errorMessage }}
                                    </div>
                                
                                </div>
                              
                            </div>
                            <div class="crs_log__footer d-flex justify-content-between">
                                <div class="fhg_45"><p class="musrt">Don't have account? <a routerLink="/signup" class="theme-cl">SignUp</a></p></div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <app-footer></app-footer>
    

</div>