<div id="main-wrapper">
    <div class="clearfix"></div>
    <section class="gray-simple">
        <div class="container">
            <div class="row frm_submit_block">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="panel-group pay_opy980" id="payaccordion">
                        <div class="panel panel-default border">
                            <div class="panel-heading" id="bnkily">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" role="button" data-parent="#payaccordion" href="#bankiliPay" aria-expanded="false" aria-controls="bankiliPay" class="">Bankili</a>
                                </h4>
                            </div>
                            <div id="bankiliPay" class="panel-collapse collapse" aria-labelledby="bnkily" data-parent="#payaccordion">
                                <div class="panel-body">
                                    <form (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <label>Envoyer le montant sur le code 45554 est inserer le code ici</label>
                                            <input type="text" class="form-control simple" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn theme-bg btm-md full-width">Pay {{course?.price}} MRU</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default border">
                            <div class="panel-heading" id="sedad">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" role="button" data-parent="#payaccordion" href="#sedadPay" aria-expanded="false" aria-controls="sedadPay" class="">Sedad</a>
                                </h4>
                            </div>
                            <div id="sedadPay" class="panel-collapse collapse" aria-labelledby="sedad" data-parent="#payaccordion">
                                <div class="panel-body">
                                    <form (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <label>Envoyer le montant sur le code 45554 est inserer le code ici</label>
                                            <input type="text" class="form-control simple" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn theme-bg btm-md full-width">Pay {{course?.price}} MRU</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default border">
                            <div class="panel-heading" id="masrvi">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" role="button" data-parent="#payaccordion" href="#masrviPay" aria-expanded="false" aria-controls="masrviPay" class="">Masrvi</a>
                                </h4>
                            </div>
                            <div id="masrviPay" class="panel-collapse collapse" aria-labelledby="masrvi" data-parent="#payaccordion">
                                <div class="panel-body">
                                    <form (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <label>Envoyer le montant sur le code 45554 est inserer le code ici</label>
                                            <input type="text" class="form-control simple" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn theme-bg btm-md full-width">Pay {{course?.price}} MRU</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Side column for additional information or actions -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <!-- Your Order section or any other details can go here -->
                </div>
            </div>
        </div>
    </section>
</div>
