<div id="main-wrapper">
  <app-header></app-header>
  <div class="clearfix"></div>
  <section class="gray">
    <div class="container">
      <div class="row justify-content-center">
        <div *ngFor="let course of courses" class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="crs_grid shadow_none brd" (click)="navigateToDetail(course)">
            <div class="crs_grid_thumb">
              <a  class="crs_detail_link">
                <img [src]="course.image" class="img-fluid rounded" alt="" width="200px" height="200px"  />

              </a>
            </div>
            <div class="crs_grid_caption">
              <div class="crs_flex">
                <div class="crs_fl_first">
                  <div class="crs_cates cl_3"><span>{{course.Categorie}}</span></div>
                </div>
                <div class="crs_fl_last">
                  <div class="crs_price">
                    <h2><span class="theme-cl">{{ course.price }}</span><span class="currency">MRU</span></h2>
                  </div>
                </div>
              </div>
              <div class="crs_title">
                <h4>
                  <a [routerLink]="'/course-detail/' + course._id" class="crs_title_link">{{ course.Nom }}</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
