<div id="main-wrapper">
		

    <div class="clearfix"></div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    
    <!-- ============================ Dashboard: Dashboard Start ================================== -->
    <section class="gray pt-4">
        <div class="container-fluid">
                                
            <div class="row">
            
                <div class="col-lg-3 col-md-3">
                    <div class="dashboard-navbar">
                        
                        <div class="d-user-avater">
                            <img src="assets/img/user-3.jpg" class="img-fluid avater" alt="">
                            <h4></h4>
                         
                           
                        
                        </div>
                        
                        <div class="d-navigation">
                            <ul id="side-menu">
                                <li class="active"><a routerLink="/dashboard"><i class="fas fa-th"></i>Dashboard</a></li>
                                <li ><a routerLink="/mycourses"><i class="fas fa-th"></i>Liste des courses</a></li>
                                <li ><a routerLink="/addcourses"><i class="fas fa-th"></i>Ajouter un course</a></li>
                                <li ><a routerLink="/achatcourses"><i class="fas fa-th"></i>Les achats du courses</a></li>



                              
                                <li><a routerLink="/" (click)="SignOut()"><i class="fas fa-layer-group"></i>Logout</a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>


                              
                            </ul>
                        </div>
                    </div>
                </div>	
                
                <div class="col-lg-9 col-md-9 col-sm-12">
                    
                    
                    
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="dashboard_wrap">
                                
                            
                                
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
                                        <div class="table-responsive">
                                            <table class="table dash_list">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Enrolled Course</th>
                                                        <th scope="col">Total Amount</th>
                                                        <th scope="col">Enrolled Date</th>
                                                        <th scope="col">Paiment method</th>
                                                        <th scope="col">User</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let achat of mycourses; let i = index">
                                                        <td><div class="smalls lg">{{achat.Course.Nom}}</div></td>
                                                        <td><span class="trip theme-cl theme-bg-light">{{achat.Amount}} MRU</span></td>
                                                        <td><span class="smalls lg">{{achat.Date}}</span></td>
                                                        <td><span class="smalls lg">{{achat.Method}}</span></td>
                                                        <td><span class="smalls lg">{{achat.User.Nom}}</span></td>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                             
                                
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            
            </div>
            
        </div>
    </section>
 <app-footer></app-footer>
   
    
    <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
    

</div>