<div id="main-wrapper">
		

    <!-- End Navigation -->
    <div class="clearfix"></div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    
    <!-- ============================ Dashboard: Dashboard Start ================================== -->
    <section class="gray pt-4">
        <div class="container-fluid">
                                
            <div class="row">
            
             
                <div class="col-lg-3 col-md-3">
                    <div class="dashboard-navbar">
                        
                        <div class="d-user-avater">
                            <img src="assets/img/user-3.jpg" class="img-fluid avater" alt="">
                            <h4></h4>
                         
                           
                        
                        </div>
                        
                        <div class="d-navigation">
                            <ul id="side-menu">
                                <li class="active"><a routerLink="/dashboard"><i class="fas fa-th"></i>Dashboard</a></li>
                                <li ><a routerLink="/mycourses"><i class="fas fa-th"></i>Liste des courses</a></li>
                                <li ><a routerLink="/addcourses"><i class="fas fa-th"></i>Ajouter un course</a></li>
                                <li ><a routerLink="/achatcourses"><i class="fas fa-th"></i>Les achats du courses</a></li>



                              
                                <li><a routerLink="/" (click)="SignOut()"><i class="fas fa-layer-group"></i>Logout</a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>


                              
                            </ul>
                        </div>
                        
                    </div>
                </div>	
                
                <div class="col-lg-9 col-md-9 col-sm-12">
                    
                   
                    
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="dashboard_wrap">
                                
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-4">
                                        <h6 class="m-0">All Courses List</h6>
                                    </div>
                                </div>
                                
                               
                                
                             
                                
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
                                        <div class="table-responsive">
                                            <table class="table dash_list">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Titre</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Description</th>
                                                     
                                                        <th scope="col">Price</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let course of mycourses; let i = index">
                                                        <th scope="row">{{course._id}}</th>
                                                        <td><h6>{{course.Nom}}</h6></td>
                                                        <td><div class="dhs_tags">{{course.Categorie}}</div></td>
                                                        <td><div class="smalls">{{course.Description}}</div></td>
                                                        <td><span class="smalls">{{course.price}}</span></td>
                                                      
                                                    </tr>
                                                  
                                               
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                             
                                
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            
            </div>
            
        </div>
    </section>
  
    <app-footer></app-footer>
    
    <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
    

</div>