<div id="main-wrapper">
		
   <app-header></app-header>
    <div class="clearfix"></div>
 
    <div class="ed_detail_head">
        <div class="container">
            <div class="row align-items-center justify-content-between mb-2">
            
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="dlkio_452">
                        <div class="ed_detail_wrap">
                    <div class="crs_cates cl_3"><span>{{course?.Categorie}}</span></div>
                            <div class="ed_header_caption">
                                <h2 class="ed_title">{{course?.Nom}}</h2>
                            </div>
                        
                            
                        </div>
                    </div>	
                </div>
                
           

            </div>
        </div>
    </div>

    <section class="gray pt-5">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-8 col-md-12 order-lg-first">
                    
                    <div class="property_video radius lg mb-4">
                        <div class="thumb">
                            <img class="pro_img img-fluid w100" src="{{course?.image}}" alt="7.jpg">
                          
                        </div>
                    </div>
                    
                    <!-- All Info Show in Tab -->
                    <div class="tab_box_info mt-4">
                       
                    
                        <div class="tab-content" id="pills-tabContent">
                            
                            <!-- Overview Detail -->
                            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                <!-- Overview -->
                                <div class="edu_wraper">
                                    <h4 class="edu_title">Description</h4>
                                    <p>{{course?.Description}}</p>		
                                  
                                </div>
                                
                              
                            </div>
                            
                         
                            
                         
                            
                        </div>
                    </div>
                    
                </div>
                
                <!-- Sidebar -->
                <div class="col-lg-4 col-md-12 order-lg-last">
                    
                    <div class="ed_view_box style_2 border ovrlio stick_top min">
                        <div class="ed_author">
                            <h2 class="theme-cl m-0">{{course?.price}} MRU<span class="old_prc"></span></h2>
                        </div>
                       
                        <div class="ed_view_features">
                            <!-- <div class="eld mb-3">
                                <h5 class="font-medium">This Course Include:</h5>
                                <p>Aaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            </div> -->
                            <div class="eld mb-3">
                                <ul class="edu_list right">
                                  
                                    <li><i class="ti-files"></i>Categories:<strong>{{course?.Categorie}}</strong></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ed_view_link" (click)="navigateTopaiment(course!)">
                            <a  class="btn theme-bg enroll-btn">Paiment<i class="ti-angle-right"></i></a>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    
    <!-- ============================ Course Detail ================================== -->
    
    <!-- ============================ Related Cources ================================== -->
   
    <!-- ============================ Related Cources ================================== -->
    
  
    
    <app-footer></app-footer>

 
    
    

</div>
