<div id="main-wrapper">
		
   
    <!-- End Navigation -->
    <div class="clearfix"></div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    
    <!-- ============================ Dashboard: Dashboard Start ================================== -->
    <section class="gray pt-4">
        <div class="container-fluid">
                                
            <div class="row">
            
                <div class="col-lg-3 col-md-3">
                    <div class="dashboard-navbar">
                        
                        <div class="d-user-avater">
                            <img src="assets/img/user-3.jpg" class="img-fluid avater" alt="">
                            <h4></h4>
                         
                           
                        
                        </div>
                        
                        <div class="d-navigation">
                            <ul id="side-menu">
                                <li class="active"><a routerLink="/dashboard"><i class="fas fa-th"></i>Dashboard</a></li>
                                <li ><a routerLink="/mycourses"><i class="fas fa-th"></i>Liste des courses</a></li>
                                <li ><a routerLink="/addcourses"><i class="fas fa-th"></i>Ajouter un course</a></li>
                                <li ><a routerLink="/achatcourses"><i class="fas fa-th"></i>Les achats du courses</a></li>



                              
                                <li><a routerLink="/" (click)="SignOut()"><i class="fas fa-layer-group"></i>Logout</a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>


                              
                            </ul>
                        </div>
                        
                    </div>
                </div>	
                
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div *ngIf="isSucces" class="alert alert-success">
                        Course Ajouter avec succes
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="dashboard_wrap">
                                <div class="form_blocs_wrap">
                                    <form (ngSubmit)="onSubmit()">
                                        <div class="row justify-content-between">
                                            <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12">
                                                <div class="tab-content" id="v-pills-tabContent">
                                                    <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
                                                        <!-- Course Title -->
                                                        <div class="form-group smalls">
                                                            <label>Course Title*</label>
                                                            <input type="text" class="form-control" [(ngModel)]="course.title" name="title" placeholder="Enter Course Title">
                                                        </div>
                                                        <!-- Description -->
                                                        <div class="form-group smalls">
                                                            <label>Description</label>
                                                            <input type="text" class="form-control" [(ngModel)]="course.description" name="description">
                                                        </div>
                                                        <!-- Category -->
                                                        <div class="form-group smalls">
                                                            <label>Category *</label>
                                                            <select class="form-control" [(ngModel)]="course.category" name="category">
                                                                <option value="">&nbsp;</option>
                                                                <option value="Dev mobile">Dev mobile</option>
                                                                <option value="Dev web">Dev web</option>
                                                                <!-- Add more options here -->
                                                            </select>
                                                        </div>
                                                      
                                                        <!-- Price -->
                                                        <div class="form-group smalls">
                                                            <label>prix</label>
                                                            <input type="text" class="form-control" [(ngModel)]="course.price" name="price" placeholder="Enter Course Price">
                                                        </div>
                                                        <!-- Image Upload -->
                                                        <div class="form-group smalls">
                                                            <label>Image du course</label>
                                                            <input type="file" (change)="onFileSelected($event, 'image')" class="custom-file-input" id="imageInput">
                                                            <label class="custom-file-label" for="imageInput">Choose file</label>
                                                        </div>
                                                        <!-- Video Upload -->
                                                        <div class="form-group smalls">
                                                            <label>Videos</label>
                                                            <input type="file" (change)="onFileSelected($event, 'video')" class="custom-file-input" id="videoInput">
                                                            <label class="custom-file-label" for="videoInput">Choose file</label>
                                                        </div>
                                                        <!-- Submit Button -->
                                                        <div class="grousp_crs_right">
                                                            <button type="submit" class="btn text-white theme-bg">Ajouter</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>



<app-footer></app-footer>
    
    <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
    

</div>