<!-- signup.component.html -->

<div id="main-wrapper">

    <div class="clearfix"></div>
  
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
            <form (ngSubmit)="signUp(signupForm)" #signupForm="ngForm">
              <div class="crs_log_wrap">
                <div class="crs_log__thumb">
                  <img src="assets/img/banner-2.jpg" class="img-fluid" alt="" />
                </div>
                <div class="crs_log__caption">
                  <div class="rcs_log_123">
                    <div class="rcs_ico"><i class="fas fa-user"></i></div>
                  </div>
                  <div class="rcs_log_124">
                    <div class="Lpo09"><h4>Create Your Account</h4></div>
                    
                        <div class="form-group">
                          <label>Name</label>
                          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="Nom" name="Nom" />
            
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" class="form-control" placeholder="email@gmail.com" [(ngModel)]="Email" name="Email"/>
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="form-control" placeholder="*******" [(ngModel)]="Pwd" name="Pwd"/>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn full-width btn-md theme-bg text-white">Sign Up</button>
                    </div>
                  </div>
               
                </div>
                <div class="crs_log__footer d-flex justify-content-between">
                  <div class="fhg_45"><p class="musrt">Already have an account? <a routerLink="/" class="theme-cl">Login</a></p></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </div>
  